<%- include('../layout/header') %>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Add New Genre</h1>
    <form action="/genres" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Genre Name</label>
        <input type="text" class="form-control <% if (errorObj.name) { %>is-invalid<% } %>" id="name" name="name" >
        <% if (errorObj.name) { %>
          <div class="invalid-feedback">
            <%= errorObj.name %>
          </div>
        <% } %>
      </div>
      <button type="submit" class="btn btn-primary">Add Genre</button>
      <a href="/genres" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
  <%- include('../layout/footer') %>